body{
    background-color: lightblue;
}
h1{ 
    font-size: 30px;
    color: green;
}
h2{color:red}
.big{
    font-size:60px;
}
.uppercase{
    text-transform:uppercase;
}
.big.uppercase{
    color:navy;
}
h1 span{
    color:violet;
}
